<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients" >
        <td>
          <a routerLink="/clients/{{client.id}}">
            <span class="badge">{{client.id}}</span> {{client.id}}
          </a>
        </td>
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
